
/**
 * @file
 * Domain GeoLocalization floating form css
 */
#domain-search-wrapper { 
  position: absolute;
  border: solid 1px #111;
  background-color: #fff;
  padding: 20px;
  z-index: 99;
}

#domain-search-close { 
  text-align: right;
  display: block;
  color: #f00;
}
